.styles{
    display: flex;
    /* height: 340px; */
    padding-top: 24px;
    gap: 28px;
    justify-content: space-between;
    text-align: center;
   
}

.blog{
    margin-top: 160px;

}



.blog-tittle h1{
    color: #DE4320;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    line-height: 60pxz;
    cursor: default;
}


.style{
    width: 33%;
    cursor: pointer;
   
   
}

.style img{
    width: 100%;
    gap: 30px;
    /* background-size: cover; */
    
}

.style span{
    font-size: 19px;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    gap: 20px;
    position: relative;
    top: 20px;
    color: var(--color-text);
}

/* @media only screen and (min-width: 370px) and ( max-width: 700px){
   
} */

@media only screen and (max-width: 700px){
    .styles{
        width: 1040px;
    }
}

@media only screen and (max-width: 370px){
    .styles{
        width: 863px;
    }
}