/* .searchInputs{
    margin-top: 105px;
    display: flex;
} */

.search {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 50%;
  right: 0;
  /* transform: translate(5%,-50%); */
  /* backround silindi */
  /* background-color: #fff; */
  display: flex;
  /* justify content space between den flex-end e le deyisildi */
  justify-content: flex-end;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease all;
  position: absolute !important;

}
.search.active {
  opacity: 1;
  visibility: visible;
  transform: translate(0%, -50%);
}
.search.active img {
  margin-bottom: 20px;
}
.search input {
  background-color: var(--search-bg-color);
  color: var(--color-text);
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 20px;
  width: 90%;
  outline: 0;
  cursor: pointer;
}

.searchIcon {
  /* width: 50px;  silindi*/
  background-color: #fff;
  display: grid;
  place-items: center;
  /*margin-right: 10px; elave olundu */

  margin-right: 10px;
}

.searchinputs {
  /* width 76% den 80% qalxdi */
  width: 80%;
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid #BDBDC8; */
  justify-content: space-between;
  /* margin-right: -20px; */
  /* backround white elave olundu */
  /* background-color: #fff; */
  position: relative;
  background-color: var(--search-bg-color);
}
.searchinputs::after {
  content: "";
  display: inline-block;
  width: 94%;
  height: 1px;
  background-color: #bdbdc8;
  position: absolute;
  bottom: 0;
}

.contex {
  display: flex;
  width: 100%;
  align-items: center;
}

.input :focus {
  outline: none;
}

.dataResult {
  /* margin-top: 5px; */
  /* width: 300px; */
  /* height: 316px; */
  background-color: var(--search-bg-color);
  /* box-shadow: rgba(0, 0, 0, 0.35 ) 0px 5px 15px; */
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  top: 100px;
  /* background: white; */
  width: 100%;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 105%;
  /* width: 48%; */

  height: 50px;
  display: flex;
  align-items: center;
  /* color: black; */
  color: var(--color-text);
}

.dataItem p {
  margin-left: 19%;
  color: var(--color-text);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #201F22!important;
}
/* 
.rightSide a:hover{
    background-color: lightgray;
} */
.searchIcon svg:hover path {
  fill: #de4320;
}
#clearBtn {
  cursor: pointer;
  width: 19.56px;
  height: 19.56px;
  color: #bdbdc8;

  /* background: #BDBDC8; */
}
#clearbtn path {
  fill: #bdbdc8 !important;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap 30 px dan 50 px qalxdi */
  gap: 50px;
  margin-left: -44px;
  background-color: var(--search-bg-color);
}
/* .light-mode-icon{
    display:  none!important;
}
.dark-mode-icon{
    display: inherit!important;
}
.dark-icon .light-mode-icon{
    display: inherit!important;
    }
    .dark-icon .dark-mode-icon{
      display: none!important;
      } */
