.cards{
    display: flex;
    
    padding-top: 40px;
    gap: 28px;
   
    justify-content: space-between;
    text-align: center
    
    
  
}

.popular{
    
}

.popular-tittle h1{
   color: var(--text-red-color);
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    cursor: default;
}



/* .cart1 span{
    color: #DE4320;

} */
.cart{
    width: 33%;    
   cursor: pointer;
   display: flex;
   flex-direction: column;
  
  
}

.cart img{
    width: 100%;
}

.cart span{
    color: #DE4320;
}


.set{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.set-2{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.set-3{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* .cart span{
    color: #DE4320;
} */

.cart h2{
    font-family: 'Anton', sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
color: var(--color-text);
}

.card p{
    color: #C9C9D1;

}

.card p{
    color: #C9C9D1;

}

.cart p{
    color: #C9C9D1;
}