.cards {
  display: flex;

  padding-top: 40px;
  gap: 28px;

  justify-content: space-between;
  text-align: center;
}



.popular-tittle h1 {
  color: var(--text-red-color);
  font-family: "Anton", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  cursor: default;
  margin-top: 144px;
}


.cart {
  width: 33%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.cart img {
  width: 100%;
}

.cart span {
  color: #de4320;
}

.set {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.set-2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.set-3 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}



.cart h2 {
  font-family: "Anton", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--color-text);
}

.card p {
  color: #c9c9d1;
}

.card p {
  color: #c9c9d1;
}

.cart p {
  color: #c9c9d1;
}

/* @media only screen and (min-width: 370px) and ( max-width: 700px){
    
   

} */
/* 
@media only screen and (min-width: 300px) and ( max-width: 700px){
    .cards{
        display: flex;
        padding-top: 40px;
        gap: 28px;
        justify-content: space-between;
        text-align: center;
        overflow-y: scroll;
    }  
    .cart::-webkit-scrollbar{
    display: none;
    }
  

} */
