* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .special-bar-trigger {
  display: flex;
  justify-content: space-between;


} */
.left-container-trigger {
  width: 100%;
  /* padding-left: 70px; */
  padding-top: 30px;
  position: relative;
}

.left-container-trigger p {
  /* font-size: 36px; */
  font-weight: 400;
  font-family: "Anton", sans-serif;
  line-height: 54.19px;
  /* background: var(--menu-bg-color); */
  /* color: var(--menu-text-color); */
}

.special-trigger-cards {
  display: flex;
  margin: auto;

  align-items: center;
  flex-wrap: wrap;
  padding-top: 40px;

  justify-content: space-between;
  text-align: center;
}

.special-trigger {
  margin-top: 40px;
}

.special-trigger h3 {
  color: #de4320;
  font-family: "Anton", sans-serif;
  font-size: 40px;
  font-weight: 400;
  /* padding-top: 78px; */
  line-height: 60px;
  margin-bottom: 20px;
  cursor: default;
  color: var(--menu-text-color);
}
.wrapper {
  display: flex;
}

.wrapper-cart {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 33.3%;
  background: var(--menu-bg-color);
  color: var(--menu-text-color);
  border-right: 1px solid var(--body-bg-color);
  image-rendering: -webkit-optimize-contrast;
  font-family: "Anton", sans-serif;
  font-size: 10px;
  line-height: 0px;
  transition: 0.3s;
}
.menu-download {
  /* padding-top: 108px; */
  font-family: "Anton", sans-serif;
  font-style: Regular;
  color: #c9c9d1;
  font-size: 24px;
  /* line-height: 32px; */
  line-height: 97%;
  display: flex;
  /* gap: 12px; */
  cursor: pointer;
  z-index: 10;
  transition: 0.3s;
}

.menu-download:hover {
  color: black;
}

.download:hover {
  color: black;
}

.menu-download:hover svg path {
  stroke: black;
}

.specials p {
  color: #201f22;
  font-family: "Anton", sans-serif;
  font-size: 18px;
  font-weight: 200;
  padding-left: 86px;
}

.trigger-card h2 {
  font-family: "Anton", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36/13px;

  text-align: center;
  /* color: #201f22; */
  color: var(--color-text);
}
.trigger-card {
  margin: 0;
  width: calc((100% - 64px) / 3);
  height: auto;
  cursor: pointer;
  margin-bottom: 8px;

  padding-left: 0;
  padding-right: 0;
}

.trigger-card img {
  width: 100%;
}

.slsnlsk {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
  margin: 16px;
}
.trigger-card p {
  font-size: 16px;
  font-family: "Anton", sans-serif;
  color: #bdbdc8;
  /* --social-text-color: #bdbdc8; */
  
 
  font-weight: 400;
  line-height: 24.09px;
}
.trigger-card span {
  color: #de4320;
  font-size: 24px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-family: "Anton", sans-serif;
  line-height: 36.13px;
}

.menu_title {
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.menu_title h3 {
  /* color: #201f22; */
  color: var(--color-text);

}

.Rollar-trigger {
  display: flex;
  margin: auto !important;
  justify-content: space-between;
  color: var(--menu-text-color);
  /* height: 100px; */
  gap: 20px;
}
.Rolrigger1,
.Rolrigger2,
.Rolrigger3,
.Rolrigger4 {
  background-color: black;
  color: white;
  width: 23%;
  text-align: center;
}
/* .Rollar-trigger p {
  width: 259px;
  font-size: 30px;
  text-align: center;

  background: black;
  color: white;
  padding: 24px 32px 24px 32px;
} */

@media only screen and (max-width: 1300px) {
}

@media only screen and (max-width: 1230px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
  .menu_title {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }
  .menu-download {
    padding: 0;
    margin: 0;
  }
  .menu_titleh3 {
    padding: 0;
    margin: 0;
  }
  .Rollar-trigger {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
  .Rolrigger1,
  .Rolrigger2,
  .Rolrigger3,
  .Rolrigger4 {
    color: #fff;
    font-size: 24px;
    font-family: "Anton", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

    line-height: 24px;
    width: 49%;
    height: auto;
  }
  .special-trigger-cards {
    display: flex;
    flex-direction: column;
  }
  .trigger-card {
    margin: 0;
    width: 100%;
    height: auto;
    cursor: pointer;
    margin-bottom: 32px;

    padding-left: 0;
    padding-right: 0;
  }
  /* .slsnlsk {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 8px;
      margin-top: 16px;
      margin: 16px;
  } */
  .slsnlsk h2 {
    color: #201f22;
    font-size: 24px;
    font-family: "Anton", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
  }
  .slsnlsk p {
    color: #bdbdc8;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
  }
  .slsnlsk span {
    color: #de4320;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
  }
}

@media only screen and (max-width: 550px) {
  .menu_title {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }
  .menu-download {
    padding: 0;
    margin: 0;
  }
  .menu_titleh3 {
    padding: 0;
    margin: 0;
  }
  .Rollar-trigger {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
  .Rolrigger1,
  .Rolrigger2,
  .Rolrigger3,
  .Rolrigger4 {
    color: #fff;
    font-size: 24px;
    font-family: "Anton", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

    line-height: 24px;
    width: 49%;
    height: auto;
  }
  .special-trigger-cards {
    display: flex;
    flex-direction: column;
  }
  .trigger-card {
    margin: 0;
    width: 100%;
    height: auto;
    cursor: pointer;
    margin-bottom: 32px;

    padding-left: 0;
    padding-right: 0;
  }
  /* .slsnlsk {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
    margin: 16px;
} */
  .slsnlsk h2 {
    color: #201f22;
    font-size: 24px;
    font-family: "Anton", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
  }
  .slsnlsk p {
    color: #bdbdc8;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
  }
  .slsnlsk span {
    color: #de4320;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
  }
}

@media only screen and (max-width: 320px) {
}

@media only screen and (max-width: 290px) {
}
