.navbar {
  display: flex;
  justify-content: space-between;
  /* gap: 8px; */
  /* position: relative; */
  /* margin: 0 auto; */
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--header-bg-color);
  width: 100%;
  /* overflow: hidden; */
  height: 100px;
  z-index: 1000;
}
.leftSide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  bottom: 10%;
  width: 40%;
}

.leftSide img {
  width: 156px !important;
  height: 74px !important;
}

body {
  background-color: var(--body-bg-color);
}

.rightSide {
  padding-top: 20px;
  /* padding-right: 40px; */
  display: flex;
  /* align-items: center;
  justify-content: center; */
  gap: 20px !important;
  width: 60%;
  justify-content: flex-end;
  /* padding-bottom: 8px; */
}

.set-search {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.searching {
  padding-top: 6px;
}

.link-gategory svg:hover path {
  fill: #de4320;
}
/* .rightSide img{
  width: 23px;
  height: 26px;
  margin-top: 6px;
  font-family: 'Anton', sans-serif;
  font-size: 24px;
  color: #201F22;
 


} */
/* .search-hover :hover{
  color: red;
} */

.navbar #desktop {
  display: flex;
  gap: 35px;
}

.navbar #desktop a:hover {
  color: #de4320;
}
.navbar ul li {
  list-style: none;
}

.navbar #desktop a {
  /* color: #201F22; */
  color: var(--color-text);
  text-decoration: none;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0em;
  font-family: "Anton", sans-serif;
  transition: 0.3s;
}

.navbar a:hover {
  color: #de4320;
}

.rightSide svg {
  /* font-size: 40px; */
  width: 20.27px;
  height: 20.27px;
}

.rightSide svg path {
  fill: var(--color-text);
  color: #bdbdc8;
}
#showw {
  display: none;
}

/* @media only screen and (max-width: 375px){
.navbar{
 display: none;
}
} */

@media only screen and (max-width: 991px) {
  #desktop {
    display: none !important;
  }
  #showw {
    display: block;
  }

  .righting2 a {
    font-size: 20px;
    margin-inline: 0px !important;
  }

  .lefting1 p {
    font-size: 19px;
  }
  .bars {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 58%;
    /* margin-right: 10px; */
    transform: translateY(-50%);
    right: 0px;
    cursor: pointer;
    overflow: hidden;
  }

  .rightSide {
    /* padding-top: 31px; */
    display: flex;
    justify-content: center;
    gap: 20px !important;
    width: 15%;
  }

  #showw input {
    display: none !important;
  }
  .searchinputs {
    width: 72%;
    height: 100px;
  }
  .searchinputs::after {
    width: 98% !important;
    bottom: 15% !important;
  }
  .dataResult .dataItem {
    height: 70px !important;
  }
  .bars::before {
    content: "";
    width: 100%;
    height: 2.5px;
    /* background-color: #000; */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s;
    background: var(--social-bg-color);
  }
  .bars::after {
    content: "";
    width: 100%;
    height: 2.5px;
    /* background-color: #000; */
    position: absolute;
    left: 0;
    top: 100%;
    transform: translateY(-100%);
    transition: 0.4s;
    background: var(--social-bg-color);
  }
  .bar {
    width: 100%;
    height: 2.5px;
    /* background-color: #000; */
    transition: 0.4s;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--social-bg-color);
  }
  input:checked + label::before {
    transform: translate(-100%, -50%);
  }
  input:checked + label .bar {
    transform: rotate(45deg) scale(0.8);
    top: 50%;
  }
  input:checked + label::after {
    transform: rotate(-45deg) scale(0.8);
    top: 50%;
  }
  #mobile-menu {
    width: 100%;
    height: calc(100vh - 100px);
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: #fff;
    transform: scaleY(0) translateX(-50%);
    transform-origin: top;
    transition: 0.4s;
    display: grid;
  }
  #mobile-menu a {
    color: #000;
    padding: 15px;
    display: block;
  }

  #mobile-menu a:hover {
    background-color: #fafafa;
  }
  input:checked + label + #mobile-menu {
    transform: scaleY(1) translateX(-50%);
  }
  .set-search {
    /* margin-left: 330px; */
  }

  .search.active {
    transform: translate(-2%, -50%);
  }

  .searchinputs {
    width: 100% !important;
    margin-right: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  .headerContainer {
    width: 566px;
    padding-top: 180px;
  }
  .bars {
    top: 58%;
  }
  /* .rightSide svg {
  margin-top: 15px;
  margin-left: 36px;
  padding: 1px 91px 1px 2px
} */

  .searchinputs::after {
    width: 98% !important;
  }
  .social {
    display: flex;
    margin-top: 0px;
    height: 70px;
    border: 1px solid #201f22;
  }
  .searchinputs {
    width: 69%;
  }
  .left {
    border-right: 0 !important;
  }

  .rightSide {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px !important;
    /* width: 30%; */
  }
}

@media only screen and (max-width: 486px) {
  #desktop {
    display: none !important;
  }
  #showw {
    display: block;
  }

  .righting2 {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }
  .righting2 a {
    /* display: flex; */
    font-size: 20px;
  }

  .lefting1 p {
    font-size: 19px;
  }
  .bars {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 58%;
    transform: translateY(-50%);
    /* right: 16px; */
    cursor: pointer;
    overflow: hidden;
  }

  .rightSide {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px !important;
    width: 60%;
  }
  .footer-top-mobile {
    display: flex;
    border: 1px solid black;
    justify-content: space-evenly;
    /* width: 340px; */
    /* margin-left: 10px; */
    height: 70px;
    border-right: 0px;
    border-left: 0px;
  }

  #showw input {
    display: none !important;
  }
  .searchinputs {
    width: 100% !important;
    height: 100px;
  }
  /* .searchinputs::after {
   width:100%!important;
   bottom: 15%!important;
     } */
  .dataResult .dataItem {
    height: 70px !important;
  }
  .bars::before {
    content: "";
    width: 100%;
    height: 2.5px;
    background: var(--social-bg-color);

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s;
  }
  .bars::after {
    content: "";
    width: 100%;
    height: 2.5px;
    background: var(--social-bg-color);

    position: absolute;
    left: 0;
    top: 100%;
    transform: translateY(-100%);
    transition: 0.4s;
  }
  .bar {
    width: 100%;
    height: 2.5px;
    background: var(--social-bg-color);

    transition: 0.4s;
    position: absolute;
    top: 0;
    left: 0;
  }
  input:checked + label::before {
    transform: translate(-100%, -50%);
  }
  input:checked + label .bar {
    transform: rotate(45deg) scale(0.8);
    top: 50%;
  }
  input:checked + label::after {
    transform: rotate(-45deg) scale(0.8);
    top: 50%;
  }
  #mobile-menu {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: #fff;
    transform: scaleY(0) translateX(-50%);
    transform-origin: top;
    transition: 0.4s;
  }
  #mobile-menu a {
    color: #000;
    padding: 15px;
    display: block;
  }
  #mobile-menu a:hover {
    background-color: #fafafa;
  }
  input:checked + label + #mobile-menu {
    transform: scaleY(1) translateX(-50%);
  }
  .container {
    /* max-width: 100%; */
  }
  .righting2 a {
    display: flex;
  }

  .set-search {
    /* margin-left: 24.87px; */
  }
  .rightSide {
    width: 15%;
    /* gap: 20px; */
  }
  .banner {
    width: 380px;
  }
  /* .headerContainer{
      width: 100%;
      margin-left: 0;
     } */
  /* .left{
      margin-left: 50px;
    } */
  .righting2 {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }
  .social .left > div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }
}

@media (max-width: 375px) {
  #mobile-menu {
    /* height: 812px !important; */
  }
  .social__icons {
    position: absolute;
    width: 100%;
    bottom: 5%;
  }
  .social__icons .right {
    display: flex !important;
  }
  .social__icons .right a {
    width: 25%;
  }
}

.mobile__menu__footer {
  display: flex;
  align-items: stretch;
  /* position: absolute; */
  align-self: flex-end;
  bottom: 30px;
  left: 0;
  width: 100%;
  margin-top: 83px;
}
.mobile__menu__footer a {
  padding: 16px 24px;
  flex: 1;
  border: 1px solid #000;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-right: 0;
}
.mobile__menu__footer a:first-of-type {
  border-left: 0;
}
/* @media screen and (max-width: 768px) {
  .container.max-width {
    max-width: 100% !important; 
  }
} */

/* 
@media only screen and (max-width: 850px){
  .rightSide {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px!important;
    width: 60%;
  }
} */
