.navbar{
    width: 94%;
    height: 100px;
   display: flex;
justify-content: space-between;
  /* gap: 8px; */
  position: relative;
  margin: 0 auto;
  align-items: center;
}
 .leftSide{
    display: flex;
    justify-content: center;
    align-items: center;
}
 body{
  background-color: #fff;
 }

 .rightSide{
  padding-top: 41px;
  padding-right: 40px;
  display: flex;
 gap: 40px;
 padding-bottom: 8px;
  
}


.searching{
  padding-top: 6px;
}

.link-gategory svg:hover path{
  fill:#de4320;
  
}
/* .rightSide img{
  width: 23px;
  height: 26px;
  margin-top: 6px;
  font-family: 'Anton', sans-serif;
  font-size: 24px;
  color: #201F22;
 


} */
/* .search-hover :hover{
  color: red;
} */

.navbar a{
   color: #201F22;
   text-decoration: none;
  font-size: 24px;
 line-height: 36px;
 letter-spacing: 0em;
font-family: 'Anton', sans-serif;
}


.navbar a:hover{
  color: #de4320;
}

 .rightSide svg {
font-size: 40px;
}