.about-heading h2 {
  color: #201f22;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  margin-top: 91px;
}

.about-tittle h1 {
  color: #201f22;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 64px;
  width: 780px;
  font-style: normal;
  line-height: normal;
  margin-top: 40px;
}

.about-img img {
  width: 100%;
  margin-top: 80px;
}

.about-lorem span {
  color: #504e53;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 32px;
  font-style: normal;
  line-height: normal;
  width: 780px;
  margin-top: 40px;
}

.about-tittle {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}
.about-lorem {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
}


@media only screen and (max-width: 1250px) {
  .about-heading h2 {
    font-size: 35px;
  }
  .about-tittle h1 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 1150px) {
    .about-heading h2 {
        font-size: 33px;
      }
      .about-tittle h1 {
        font-size: 55px;
      }
}

@media only screen and (max-width: 991px) {
    .about-heading h2 {
        font-size: 30px;
      }
      .about-tittle h1 {
        font-size: 50px;
      }
}

@media only screen and (max-width: 768px) {
    .about-heading h2 {
        font-size: 28px;
      }
      .about-tittle h1 {
        font-size: 45px;
      }
      .about-lorem span {
      
        font-size: 30px;
       
      
      
      }
      

}

@media only screen and (max-width: 550px) {
    .about-heading h2 {
        font-size: 25px;
      }
      .about-tittle h1 {
        font-size: 40px;
      }
      .about-lorem span {
        font-size: 27px;
      }
}

@media only screen and (max-width: 375px) {
    .about-heading h2 {
        font-size: 28px;
      }
      .about-tittle h1 {
        font-size: 36px;
      }
      .about-lorem span {
        font-size: 20px;
      }
}
