.green {
  color: #7cfc00;
  font-family: "Anton", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30.11px;
}

.footer-content {
  padding: 20px 0px;
  margin-top: 200px;
}

.left-content {
  display: flex;
  position: relative;
  padding: 15px;
  gap: 18px;
  font-family: "Anton", sans-serif;
}

.left-content svg:hover path {
  fill: #de4320;
}

.right-content {
  display: flex;
  gap: 48px;
  font-family: "Anton", sans-serif;
  cursor: pointer;
  transition: 0.3s;
  color: var(--text-white-color);
}

.right-content h1:hover {
  color: #de4320;
}

.right-content h1 {
  cursor: pointer;
  color: var(--color-text);
  font-weight: 500;
}
.footer-top {
  /* border-top: 1px solid black; */
  /* border-bottom: 1px solid black; */
  border-bottom: 1px solid var(--color-text);
  border-top: 1px solid var(--color-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Anton", sans-serif;
  font-size: 10px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-top-mobile {
  display: none;
}

.left-content span {
  font-family: "Anton", sans-serif;
  font-size: 20px;
  font-weight: 400;
  cursor: default;
  color: var(--color-text);
}

/* .left-content svg{
    color: var(--color-text);
} */

.right-content p {
  font-family: "Anton", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30.11px;
  color: #201f22;
}

.right-content span {
  font-family: "Anton", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  margin-left: -45px;
}
.footer-top-mobile {
  display: none;
  justify-content: center;
  font-family: "Anton", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  border-left: 1px solid;
}

@media only screen and (max-width: 700px) {
  .footer-top {
    display: none;
  }
  .footer-top-mobile {
    display: flex;
    border: 1px solid black;
    justify-content: space-evenly;
  width: 340px;
    margin-left: 10px;
  }
  .footer-bottom-up-el_div_icon {
    position: relative;
    right: 25px;
  }
  .face{
    padding: 35px;
  }
  .insta{
    padding: 35px;
  }
  .wolt{
    padding: 35px 20px 0px 10px;
  }
  .wolt div {
    right: 0px !important;
  }
  .darkMode{
    padding: 35px 20px 0px 30px;
    border-left: 0px;
  }
  .footer-bottom {
    display: grid;
  }
  .right-content {
    margin-left: 15px;
    width: 640px;
  }
}

