.green {
  color: #7cfc00;
  font-family: "Anton", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30.11px;
}

.footer-content {
  padding: 20px 0px;
  margin-top: 200px;
}

.left-content {
  display: flex;
  position: relative;
  padding: 15px 1px;
  gap: 18px;
  font-family: "Anton", sans-serif;
}

.left-content svg path {
  fill: var(--color-text);
}

.left-content svg:hover path {
  fill: #de4320;
}
.footer-top-mobile {
  justify-content: center;
  font-family: "Anton", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  border-left: 1px solid;
}

.right-content {
  display: flex;
  gap: 48px;
  font-family: "Anton", sans-serif;
  cursor: pointer;
  transition: 0.3s;
  color: var(--text-white-color);
}
.darkMode {
  /* border-left: 0px; */
}

.right-content h1:hover {
  color: #de4320;
}

.right-content h1 {
  cursor: pointer;
  color: var(--color-text);
  font-weight: 500;
}
.footer-top {
  border-bottom: 1px solid var(--color-text);
  border-top: 1px solid var(--color-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Anton", sans-serif;
  font-size: 10px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content span {
  font-family: "Anton", sans-serif;
  font-size: 20px;
  font-weight: 400;
  cursor: default;
  color: var(--color-text);
}

/* .left-content svg{
    color: var(--color-text);
} */

.right-content p {
  font-family: "Anton", sans-serif;
  font-size: 20px;
  /* font-weight: 700; */
  line-height: 30.11px;
  color: #201f22;
  color: var(--claradix-bg-color);
}

.right-content span {
  font-family: "Anton", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  margin-left: -45px;
}
.footer-top-mobile {
  display: none;
  justify-content: center;
  font-family: "Anton", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  border-left: 1px solid;
}

@media only screen and (max-width: 900px) {
  .right-content {
    grid-area: 1;
    color: var(--color-text);
  }
  .footer-bottom {
    justify-content: normal;
  }
  .left-content,
  .right-content {
    padding-left: 20px;
  }
  .footer-top-mobile {
    display: flex;
    border: 1px solid var(--color-text);
    /* border: 1px solid black; */
    justify-content: space-evenly;
    height: 70px;
    border-right: 0px;
    border-left: 0px;
  }
  .footer-top-mobile a {
    border: 1 px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .footer-bottom-up-el_div_icon {
    position: relative;
  }
  .footer-bottom {
    display: grid;
  }
}
@media only screen and (max-width: 700px) {
  .footer-top {
    display: none;
  }
  /* .footer-top-mobile {
    display: flex;
    border: 1px solid black;
    justify-content: space-evenly;
  width: 340px;
    margin-left: 10px;
  } */
  .footer-bottom-up-el_div_icon {
    position: relative;
    /* right: 25px; */
  }

  .left-content span {
    font-size: 16px;
  }

  .face {
    /* padding: 35px; */
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .darkMode {
    /* padding: 35px 20px 0px 30px; */
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .insta {
    /* padding: 35px; */
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .wolt {
    /* padding: 35px 20px 0px 10px; */
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .wolt div {
    right: 0px !important;
  }

  .footer-bottom {
    display: grid;
  }
  .right-content {
    /* margin-left: 15px; */
    /* width: 682px; */
  }
  .righting2 {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }
  .social .left > div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .style span {
    font-size: 16px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    gap: 20px;
    position: relative;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-top-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer-content .container {
    max-width: 100%;
    margin: 0;
  }
  .footer-content .darkMode {
    border-left: 0;
  }
  .footer-top {
    border-top: 0;
  }
}
@media only screen and (max-width: 350px) {
  .left-content span {
    font-size: 14px;
  }
  .right-content {
    grid-area: 1;
    color: var(--color-text);
  }
}
