.green{
    color: #7cfc00;
}

.footer-content{
    padding: 20px 40px;
    margin-top:200px;
}

.left-content{
    display: flex;
    position: relative;
    padding: 15px;
    gap: 18px;
    font-family: 'Anton', sans-serif;
}
.right-content{
    display: flex;
    gap:48px;
    font-family: 'Anton', sans-serif;
    cursor: pointer;
}

.right-content h1:hover{
    color: #de4320;
}

.right-content h1{
    cursor: pointer;
   
}
.footer-top{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Anton', sans-serif;
    font-size: 10px;

}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-content span{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.right-content p {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
 
}

.right-content span{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin-left: -45px;

}

