
*{
  margin: 0;
  padding: 0;
  -webkit-user-drag: none; 
  -khtml-user-drag: none; 
  -moz-user-drag: none; 
  -o-user-drag: none; 
}


/* // light renkler burda yazilmalidi */
:root{
--color-text:black;
--menu-text-color:#fff;
--footer-text-color:black;
--body-bg-color:white;
--text-red-color:#de4320;;
/* --popular-bg-color:blue; */
--menu-bg-color:#201F22;
--header-bg-color:#fff;
--social-bg-color:black;

}
/* // dark renkler burda yazilmalidi */

.dark{
  --color-text:white;
--menu-text-color:black;
--footer-text-color:white;
  --body-bg-color:black;
  --text-red-color:#F6431B;
  /* --popular-bg-color:blue; */
  --menu-bg-color:white;
  --header-bg-color:#000;
  --social-bg-color:#fff;
}



body{
  padding: 0;
  margin: 0;
  font-family: 'Anton', sans-serif;
  overflow-x: hidden;
  background-color: var(--body-bg-color);

  
  
}

.container{
  width: 1360px;
  max-width: 95%;
  margin: 0 auto;
}