
*{
  margin: 0;
  padding: 0;
  -webkit-user-drag: none; 
  -khtml-user-drag: none; 
  -moz-user-drag: none; 
  -o-user-drag: none; 
}

:root{
--color-text:black;

--body-bg-color:white;
--text-red-color:#de4320;;



}

.dark{
  --color-text:white;
  --body-bg-color:black;
  --text-red-color:#F6431B;


}



body{
  padding: 0;
  margin: 0;
  font-family: 'Anton', sans-serif;
  overflow-x: hidden;
  background-color: var(--body-bg-color);

  
  
}

.container{
  width: 1360px;
  max-width: 95%;
  margin: 0 auto;
}