* {
  margin: 0;
  padding: 0;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* // light renkler burda yazilmalidi */
:root {
  --color-text: #201F22;
  --menu-text-color: #fff;
  --menu-bg-color: #fff;
  --footer-bg-color: #fff;
  --home-text-color: #fff;
  --body-bg-color: white;
  --text-red-color: #de4320;
  /* --popular-bg-color:blue; */
  --menu-bg-color: #201f22;
  --header-bg-color: #fff;
  --social-bg-color: #201F22;
  --popular-bg-color: white;
  --claradix-bg-color:black; 
  --search-bg-color:#fff; 
  /* --logo-bg-color:black;  */
}
/* // dark renkler burda yazilmalidi */

.dark {
  --color-text: white;
  --menu-text-color: #201F22;
  --menu-bg-color: #201F22;
  --footer-text-color: white;
  --footer-bg-color: #201F22;
  --home-text-color: #201F22;
  --body-bg-color: #201F22;
  --text-red-color: #f6431b;
  /* --popular-bg-color:blue; */
  --menu-bg-color: white;
  --header-bg-color: #201F22;
  --social-bg-color: #BDBDC8;
  --popular-bg-color: #201F22;
  --claradix-bg-color: white;
  --search-bg-color:#201F22; 
  /* --logo-bg-color:white;  */
}
html {
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Anton", sans-serif;
  overflow-x: hidden;
  background-color: var(--body-bg-color);
}

.container {
  width: 1360px;
  max-width: 94%;
  margin: 0 auto;
}
/* .handle{
  display: none;
} */

@media only screen and (max-width: 1300px) {
  .navbar {
    /* justify-content: flex-start !important; */
    /* gap: 31%; */
  }
  .rightSide {
    /* gap: 80px; */
    /* padding-left: 40px; */
  }
  /* .navbar #desktop{
    margin-left: -40px;
  } */
}

@media only screen and (max-width: 1230px) {
  .leftSide {
    display: inline-block;
  }
  .rightSide {
    gap: 0;
    margin-left: 24px;
  }
  .navbar {
    /* gap: 25%; */
  }
  .navbar #desktop{
    gap: 20px !important;
  }
 
}

@media only screen and (max-width: 1080px){
  .navbar #desktop a{
    font-size: 20px !important;
  }
} 
@media only screen and (max-width: 992px) {
  .navbar a {
    font-size: 18px !important;
  }

  .search{
    position: relative !important;
  }

  .heading h1 {
    margin-left: -84px;
  }
}

@media only screen and (max-width: 991px) {
  .navbar a {
    font-size: 24px !important;
  }


  
  .set-search {
    /* margin-left: 330px; */
    /* margin-top: -15px; */
  }
  .heading h1 {
    width: 480px;
    margin-left: 166px;
  }

  .rightSide svg {
    /* font-size: 40px; */
    width: 20.27px;
    height: 20.27px;
  }
  #mobile-menu {
    width: 101%;
  }
  /* .rightSide svg {
  
    margin-left: -148px;
  
} */
.righting2 {
  /* padding: 20px; */
 
    /* padding: 20px; */
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: center; */
   
}
  /* display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap; */
}
.lefting1 {
  padding: 20px;
  border-right: 1px solid var(--color-text);
  white-space: nowrap;
}



/* 
@media only screen and (max-width: 700px) {
  .headerContainer{
    width: 350px !important;

  }

  .headerContainer h1{
    font-size: 24px !important;
    font-family: "Anton", sans-serif;
    margin-left: 11px;
  }
  
} */

@media only screen and (min-width: 300px) and ( max-width: 700px) {
  .right {
    display: none !important;
  }
  .cards{
    width: 855px;
}

.leftSide img {
  width: 80px;
  height: 40px;
}

.left{
  margin-left: 80px;
}
.righting2{
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
 }
 .social .left > div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.footer-top-mobile 
{
  display: flex;
  border: 1px solid black;
  justify-content: space-evenly;
  /* width: 340px; */
  /* margin-left: 10px; */
  height: 70px;
  border-right: 0px;
  border-left: 0px;
}
/* .rightSide {
  padding-top: 31px;
  display: flex;
  justify-content: center;
  gap: 20px!important;
  width: 15%;
} */



}